<h1>Welcome, Admin!</h1>

<div class="admins-list">
  <%= tag.h2 "Admins" %>
  <% @admins.each do |admin| %>
    <%= tag.p admin.name %>
  <% end %>
</div>

<div class="users-list">
  <%= tag.h2 "Users" %>
  <% @users.each do |user| %>
    <%= tag.p user.name %>
  <% end %>
</div>