// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

.page-left {
  background-color: blue;
}

.page-middle {
  background-color: lightgray;
}

.page-right {
  background-color: blue;
}

.half-size {
  font-size: 0.75em;
}