// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

html, body {
  min-height: 100vh;
}

td a {
  display: block;
}

footer {
  text-align: center;
  width: 100%;
}

.navbar {
  width: 100%;
  margin: 0px 10px 0px 10px;
}

.page-left {
  background-color: blue;
}

.page-middle {
  background-color: lightgray;
}

.page-right {
  background-color: blue;
}

.half-size {
  font-size: 0.75em;
}

.red-links a {
  color: red;
}

.red-links a:hover {
  color: yellow;
}