// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

html, body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

html{
  height: 100%;
  background-color: lightgreen;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  background-color: #e6f2ff;
}

td a {
  display: block;
}

td {
  padding: 0px 5px 0px 5px;
}

#page-container {
  background-color: yellow;
  height: 100%;
}

#page-container a {
color: inherit;
}

#page-container a:hover {
  text-decoration: none;
}

#main {
  height: 100%;
}

#footer {
  background-color: green;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
}

#left-column {
  border-right: 3px double gray;
  border-left: 3px double gray;
  padding: 20px 0px 0px 10%;
  margin-left: 10%;
  font-size: 10px;
}

#left-column .btn {
  font-size: 1.6em;
}

#right-column {
  padding: 20px 0px 0px 5%;
  height: 100%;
  font-size: 1.3em;
}

.navbar {
  background-color: lightgray;
  width: 100%;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

.me-button {
  border-radius: 50%;
}

.nav-button {
  font-size: 1.5em;
}

.nav-button:hover {
  background-color: lightyellow;
}

.half-size {
  font-size: 1em;
}