<form class="form-inline">
  <%= link_to "Me", user_path(current_user), class: "btn me-button nav-button" %>
  <div style="padding: 20px;">
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn nav-button" %>
  </div>
</form>