<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand btn btn-outline-dark" href="/">Home</a>
  <form class="form-inline">
    <a class="btn btn-outline-dark" href="/signup">Register</a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-dark" href="/login">Log In</a>
    </div>
  </form>
</nav>