<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand btn btn-outline-dark" href="/">Home</a>
  <form class="form-inline">
    <%= link_to "Register", new_user_path, class: "btn btn-outline-dark" %>
    <div style="padding-left: 10px;">
      <%= link_to "Log In", signin_path, class: "btn btn-outline-dark" %>
    </div>
  </form>
</nav>